



/* @media screen and (min-width: 720px) {
  

  .cabecalho__titulo__container {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: end;
    align-self: center;
  }

  .cabecalho__imagem {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: start;
    align-self: center;
    margin-left: 1rem;
  }  
}

@media screen and (min-width: 1200px) {
  .cabecalho__titulo__container {
    justify-self: center;
  }

  .cabecalho__imagem {
    grid-area: 1 / 2 / 5 / 3;
  }
} */