@import url(cabecalho.css);
@import url(principal.css);
@import url(meus-jogos.css);
@import url(rodape.css);

:root {
  --azul: #3A4396;
  --branco: white;
  --cinza: #ffe7da;
  --marrom: #84716B;
  --magenta: #EC268F;
  --rosa: #F79E6F;
  --verde: #21B791;
  --vermelho: #B43441;
  --preto-sombra: rgba(0, 0, 0, 0.467);

  --fonte-principal: 'Geologica', sans-serif;
}

@media screen and (min-width: 1400px) {
  .container {
    background-image: url(../img/fundo.jpg);
    background-size: cover;
    height: 100vh;
    padding-top: 5rem;
  }
  
  .principal {
    background-color: var(--branco);
    border-radius: 15px;
    box-shadow: 10px 10px 10px var(--preto-sombra);
    max-width: 1250px;
    padding-top: 2rem;
    margin: auto;
  }
}



/* .fundo {
  
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.container {
  background-color: var(--branco);
  margin: auto;
  width: 90%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.467);
} */